---
import Badge from "@/components/ui/Badge.astro";
import Button from "@/components/ui/Button.astro";
import ServiceAccordion from "@/helpers/ServiceAccordion";
import type { MarkdownInstance } from "astro";
import type { Service } from "homepage-service";
import { ArrowRight } from "lucide-astro";

const { title, description, button, services } = Object.values(
  import.meta.glob<MarkdownInstance<Service>>(
    "/src/content/homepage/service.md",
    {
      eager: true,
    }
  )
)[0].frontmatter;
---

<section class="section">
  <div class="container">
    <Badge variant="accent">
      <p>What I offer</p>
    </Badge>
    <div class="mt-12 flex justify-between">
      <div class="basis-[calc(50%_-_6rem)]">
        <h2
          class="font-satoshi split-lines text-6xl leading-[66px] font-medium tracking-tighter"
        >
          {title}
        </h2>
        <p class="split-lines mt-9 text-xl">
          {description}
        </p>

        {
          button.enable && (
            <Button
              variant="warning"
              class="group element-reveal font-satoshi mt-11 items-center justify-center space-x-0 px-6 pr-2.5 text-lg normal-case transition-all duration-300"
              href={button.label}
            >
              <span>{button.label}</span>
              <span class="text-primary group-hover:border-background flex size-10 items-center justify-center rounded-full border border-transparent transition-all duration-200 ease-in-out group-hover:ml-2">
                <ArrowRight class="size-5 flex-shrink-0" />
              </span>
            </Button>
          )
        }
      </div>
      <!-- Service Accordion -->
      <div class="basis-[calc(50%_-_6rem)]">
        <ServiceAccordion client:load serviceItems={services} />
      </div>
    </div>
  </div>
</section>
