---
import socialLinks from "@/config/socail.json";
import { Image } from "astro:assets";
---

<ul
  class="in-circle relative mt-18 grid size-20 grid-cols-2 items-center justify-center gap-20 lg:flex"
>
  {
    socialLinks.map((link, index) => (
      <li class="absolute">
        <a href={link.url} class="social-icon">
          <Image src={link.image} width={32} height={32} alt={link.name} />
          <Image src={link.badge} width={150} height={150} alt={link.icon} />
        </a>
      </li>
    ))
  }
</ul>
